.card {
  background-color: transparent;
  color: #ffffff;
  padding: 50px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(255 255 255), 0px 1px 3px 0px rgb(255 255 255 / 12%);
}

.header-image {
  background-image: url('https://eusebio.tudotransparente.com.br/assets/img/userchat_guest.png');
  background-size: cover;
  background-position: center;
}

.mat-card-avatar {
  height: 150px;
  width: 150px;
}

.info-card {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(255 255 255), 0px 1px 3px 0px rgb(255 255 255 / 12%);
  background-color: transparent;
  color: #ffffff;
  width: 100%;
}

.item {
  margin-left: 16px;
  color: lightgray;
}

.logout {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 15px;
}

.classification {
  padding: 15px;
  border-radius: 30px;
  font-weight: bold !important;
}

.add {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  width: 300px;
  margin: auto;
}

